.block_librarysearch.block div.content {
    padding: 0px;
}

.block_librarysearch.block div.content .form-container {
    padding: 5px;
}

.block_librarysearch.block div.content .form-container .left {
    float: left;
    width: 90%;
}

.block_librarysearch.block div.content .form-container .left input {
    width: 100%;
    height: 24px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 4px;
    border-color: #dcdcdc;
    margin: 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
}

.block_librarysearch.block div.content .form-container .right {
    float: left;
    width: 10%;
}

.block_librarysearch.block div.content .form-container .right input {
    width: 100%;
    height: 24px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 0;
    margin: 0;
    font-size: 13px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    border: 1px solid #cccccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-left: 0px;
    border-color: #dcdcdc;
    -webkit-border-radius: 4px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius: 4px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    vertical-align: inherit;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
}

.block_librarysearch.block div.content .form-container .right input:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.block_librarysearch.block div.clearfix {
    clear: both;
}

#region-pre .block_librarysearch.block div.content .form-container .left,
#region-post .block_librarysearch.block div.content .form-container .left {
    width: 70%;
}

#region-pre .block_librarysearch.block div.content .form-container .right,
#region-post .block_librarysearch.block div.content .form-container .right {
    width: 30%;
}
