.block_librarysearch.block div.content {
    padding: 0;
}

.block_librarysearch.block div.content .form-container {
    padding: 5px;
}

.block_librarysearch.block div.clearfix {
    clear: both;
}

#region-post .block_librarysearch.block div.content {
    padding-left: 0;
}
